* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(217, 54%, 11%);
}

section {
  height: 100vh;
  padding: 200px;
}

.card {
  width: 300px;
  height: 500px;

  border-radius: 14px;
  margin: auto;
  background-color: hsl(216, 50%, 16%);
}
.image-principal {
  width: 250px;
  border-radius: 14px;
}

.card-foto {
  height: 250px;

  padding: 20px 20px 20px 20px;
}

.contenedor-dos {
  margin-left: 20px;
  margin-right: 20px;
}
.text-white {
  color: #fff;
  font-weight: bold;
}
.text-gray {
  margin-top: 15px;
  color: #fff;
  opacity: 0.4;
  font-weight: 300;
}

.contenedor-detalle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-eth {
  color: hsl(180, 100%, 50%);
}
.text-clock {
  color: hsl(215, 51%, 70%);
}
.contenedor-autor {
  border-top: solid white 1px;
  padding-top: 12px;
  margin-bottom: 10px;
}

.contenedor-detalle {
  margin-bottom: 10px;
}

.contenedor-autor img {
  width: 30px;
  border: solid white 1px;
  border-radius: 50%;
}
