h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1F3F68;
}

h3 {
  font-family: Helvetica, sans-serif;
  padding-bottom: 30px;
  font-weight: 700;
  color: #5A98D0;
  text-transform: uppercase;
  font-size: 15px;
}

p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

img:hover {
  border-radius: 20px;
}

* {
  text-decoration: none;
  color: black;
}

/*  STICKY FOOTER    */
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.wrap main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  margin: auto;
  max-width: 960px;
}

@media (max-width: 965px) {
  .container {
    max-width: 90%;
  }
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo img {
  display: block;
  width: 50px;
}

.header .menu {
  height: 100%;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.header .menu ul a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: stretch;
  height: 100%;
  padding: 0 10px;
  font-weight: 700;
}

.header .menu ul a:hover {
  font-weight: 800;
  color: #1F3F68;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  a {
    padding: 0 5px;
  }
}

.banner {
  position: relative;
  margin-top: 50px;
  height: 200px;
  background: #316099;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/Vector.png");
  background: linear-gradient(40deg, #2d75cc, #6ebbff);
}

.banner h1 {
  position: absolute;
  padding-bottom: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  color: inherit;
}

.banner p {
  position: absolute;
  top: 55%;
  letter-spacing: 0.06em;
  font-weight: 100;
  width: 50%;
  color: inherit;
}

.banner img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}



.banner .circle-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0);
  border-radius: 100px;
  border: 8px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}

.banner .circle-1:nth-child(1) {
  animation-name: circle1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  bottom: 40px;
  left: -1%;
}

.banner .circle-1:nth-child(2) {
  animation-name: circle1;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  left: 15%;
  bottom: -15px;
}

.banner .circle-1:nth-child(3) {
  animation-name: circle1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  left: 30%;
  bottom: 50px;
}

.banner .circle-1:nth-child(4) {
  animation-name: circle1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  left: 60%;
  bottom: 10px;
}

.banner .circle-1:nth-child(5) {
  animation-name: circle1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  left: 92%;
  bottom: 50px;
}

@-webkit-keyframes circle1 {
  from {
    bottom: 100%;
  }

  to {
    bottom: -20%;
  }
}

@keyframes circle1 {
  from {
    bottom: 100%;
  }

  to {
    bottom: -20%;
  }
}

.banner .circle-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
}

.banner .circle-2 p {
  position: absolute;
  top: -3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(245, 245, 245, 0.2);
}

.banner .circle-2:nth-child(6) {

  animation-name: circle2;

  animation-duration: 20s;

  animation-iteration-count: infinite;
  left: 5%;
  bottom: 20px;
}

.banner .circle-2:nth-child(7) {

  animation-name: circle2;

  animation-duration: 15s;

  animation-iteration-count: infinite;
  left: 35%;
  bottom: 20px;
}

.banner .circle-2:nth-child(8) {

  animation-name: circle2;

  animation-duration: 30s;

  animation-iteration-count: infinite;
  left: 45%;
  bottom: -5px;
}



@-webkit-keyframes circle2 {
  from {
    bottom: 100%;
  }

  to {
    bottom: -20%;
  }
}

@keyframes circle2 {
  from {
    bottom: 100%;
  }

  to {
    bottom: -20%;
  }
}

@media (max-width: 600px) {
  .circle-1:nth-child(5) {
    left: 85% !important;
  }
}

.search {
  padding: 40px 0;
}

.search div {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  background: #ededed;
}

.search div i {
  position: absolute;
  color: #316099;
  font-size: 14px;
  left: 25px;
}

.search div input {

  transition: all .5s ease;
  outline: none;
  width: inherit;
  padding: 13px 0 13px 60px;
  border-radius: inherit;
  border: 0px;
  background: rgba(237, 237, 237, 0);
  color: #316099;
  z-index: 1;
}

.search div input:focus {

  box-shadow: 0px 5px 1px #1F3F68;
}

.search div input:hover {

  box-shadow: 0px 5px 1px #5A98D0;
}

.search div:hover i {
  color: #1F3F68;
}

.popular {

  display: flex;

  gap: 20px;

  justify-content: center;
}

.popular h3 {
  margin-right: auto;
}

.popular .article-pricipal {
    display: flex;
}

.popular .article-pricipal section {

  display: flex;

  flex-direction: column;
 
  justify-content: space-between;
}

.popular .article-pricipal figure {
  width: 100%;
  order: 2;
}

.popular .article-pricipal figure img {
  display: block;
  width: 100%;
}

.popular .article-pricipal section {
  width: 100%;
  padding-right: 20px;
}

.popular .article-pricipal section h2 {
  padding-bottom: 20px;
}

.popular .article-pricipal section .article-author {
 
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.popular .article-pricipal section .article-author h4 {
  color: #1F3F68;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.popular .article-pricipal section .article-author p {
  color: rgba(7, 33, 60, 0.549);
}

.popular .article-pricipal section .article-author a {
  margin-left: 20px;
}

.popular .article-pricipal section .article-author i {
  color: #1F3F68;
}

.popular .article-pricipal section .article-author i:hover {
  color: #5A98D0;
  border-radius: 5px;
  padding: 5px 10px;

  box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.267);
}

.popular .article {
  width: 30%;
}

.popular .article figure {
  width: 100%;
}

.popular .article figure img {
  display: block;
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0px 0px;
}

.popular .article section {
  width: 100%;
  padding-right: 20px;
}

.popular .article section h2 {
  padding-bottom: 20px;
  font-size: 18px;
}

.popular .article section .article-author {

  display: flex;

  justify-content: space-between;

  align-items: center;
  padding-top: 15px;
}

.popular .article section .article-author h4 {
  color: #1F3F68;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.06em;
  padding-bottom: 5px;
}

.popular .article section .article-author p {
  color: rgba(7, 33, 60, 0.549);
}

.popular .article section .article-author a {
  margin-left: 20px;
}

.popular .article section .article-author i {
  color: #1F3F68;
}

.popular .article section .article-author i:hover {
  color: #5A98D0;
  border-radius: 5px;
  padding: 5px 10px;
 
  box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.267);
}

.popular .article:hover {
  padding: 10px;

  box-shadow: 1px 5px 30px rgba(102, 102, 102, 0.267);
  border-radius: 10px;
}

.popular .all-articles {
  margin: 40px 0 20px 0;
  margin-left: auto;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #5A98D0;
  text-transform: uppercase;
  font-weight: 700;
}

.article,
section,
h2 {

  transition: all .5s ease;
}

i {
 
  transition: all .2s ease;
}

section h2:hover {
  color: #5A98D0;
  text-decoration: underline;
}

i:hover {
  font-size: 20px;
}

@media (max-width: 600px) {
  .popular .article-pricipal {
    display: block;
  }

  .popular .article {
    width: 80%;
  }

  .popular .article section {
    padding-right: 0 !important;
  }
}

@media (max-width: 480px) {
  .popular .article-pricipal {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    flex-direction: column;
  }

  .popular .article-pricipal section {
    width: 100%;
  }

  .popular .article {
    width: 100%;
  }

  .popular .article section {
    padding-right: 0 !important;
  }
}

.all-article {
  padding: 30px 0 60px 0;
}

.all-article .article {

  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.all-article .article figure {
  height: 200px;
}

.all-article .article figure img {
  display: block;
  height: 200px;
}

.all-article .article section {
  width: 100%;
  padding-right: 20px;
 
  display: flex;
  
  flex-direction: column;

  justify-content: space-between;
}

.all-article .article section h2 {
  padding-bottom: 20px;
  font-size: 18px;
}

.all-article .article section .article-author {

  display: flex;
  justify-content: space-between;
 
  align-items: center;
  padding-top: 15px;
}

.all-article .article section .article-author h4 {
  color: #1F3F68;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.06em;
  padding-bottom: 5px;
}

.all-article .article section .article-author p {
  color: rgba(7, 33, 60, 0.549);
}

.all-article .article section .article-author a {
  margin-left: 20px;
}

.all-article .article section .article-author i {
  color: #1F3F68;
}

.all-article .article section .article-author i:hover {
  color: #5A98D0;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.267);
}

.all-article .article:hover {
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(102, 102, 102, 0.5);
  padding: 10px;
}

.all-article .article:hover img {
  border-radius: 10px;
}

.all-article .pages {
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #5A98D0;
}

.all-article .pages a {
  color: inherit;
}

.all-article .pages a:hover {
  color: #316099;
}

.all-article .pages i {
  margin: 0 10px;
  color: inherit;
}

@media (max-width: 700px) {
  .all-article {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  .all-article section {
    padding-right: 0 !important;
  }

  .all-article figure {
    height: 200px;
  }

  .all-article figure img {
    display: block;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .all-article .article {
   
    display: flex;
   
    flex-wrap: wrap;
   
    align-items: center;
   
  
    flex-direction: row;
  }

  .all-article .article section {
    padding-right: 0 !important;
  }

  .all-article .article figure {
    width: 100%;
  }

  .all-article .article figure img {
    display: block;
    width: 100%;
  }
}

.footer {
  background: #1F3F68;
  padding: 70px 0;
}

.footer p,
.footer h2,
.footer h3,
.footer li,
.footer a,
.footer b {
  color: rgba(255, 255, 255, 0.981);
}

.footer section:nth-child(1) {
 
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.footer section:nth-child(1) div {
  width: 30%;
}

.footer section:nth-child(1) div h2 {
  margin-bottom: 20px;
}

.footer section:nth-child(1) a {
 
  transition: all 0.5s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 50px;
  text-align: center;
  background-color: #316099;
}

.footer section:nth-child(1) a:hover {
  background-color: #5A98D0;
}

.footer hr {
  margin-top: 70px;
  margin-bottom: 70px;
  border: 1px solid rgba(255, 255, 255, 0.137);
}

.footer section:nth-child(3) {

  display: flex;
  -webkit-box-align: center;

  align-items: center;
  
  justify-content: space-between;
}

.footer section:nth-child(3) div h2 {
  font-size: 16px;
  font-weight: bold;
}

.footer section:nth-child(3) div h2 img {
  display: inline;
  width: 50px;
}

.footer section:nth-child(3) div li {
  padding: 5px 0;
  font-weight: 300;
}

.footer section:nth-child(3) div li b {
  font-weight: bold;
  padding-right: 10px;
}

.footer section:nth-child(3) div li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 300;
}

.footer section:nth-child(3) div li a:hover {
  color: #5A98D0;
}

.footer h2:hover {
  text-decoration: none;
  color: white;
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .copy {
  padding-top: 50px;
  color: rgba(245, 245, 245, 0.426);
}

@media (max-width: 600px) {
  .footer section:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer section:nth-child(1) div {
    width: 100%;
  }

  .footer section:nth-child(1) div h2 {
    margin-bottom: 20px;
  }

  .footer section:nth-child(1) li {
    text-align: left;
  }

  .footer section:nth-child(1) a {
    margin-top: 50px;
  }

  .footer section:nth-child(3) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.logotipo {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-h span:nth-child(1) {
  background: #1F3F68 !important;
}

.logotipo span:nth-child(1) {
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.473);
  border-radius: 100%;
  border: 2px solid #1F3F68;
  position: absolute;
  left: 0px;
  animation-name: logo;
  animation-duration: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-timing-function: steps(3, end);
}

.logotipo span:nth-child(2) {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 100%;
  border: 2px solid #1F3F68;
  position: absolute;
  left: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logotipo span:nth-child(2) p {
  font-size: 16px;
  font-weight: bolder;
  color: #1F3F68;
}

@-webkit-keyframes logo {
  0% {
    left: 0%;
  }

  50% {
    left: 30%;
  }

  100% {
    left: 60%;
  }
}

@keyframes logo {
  0% {
    left: 0%;
  }

  50% {
    left: 30%;
  }

  100% {
    left: 60%;
  }
}

/*# sourceMappingURL=main.css.map */